*{
  margin:0;
  padding:0;
  text-decoration: none;
}
body
{
  border:2px solid red;
  min-height: 100vh;
  min-width: 100vw;
}
.nav
{
  border:2px solid red;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
